/* Default container */
.container {
	max-width: 1400px;
	margin: 0 auto;
}

/* === Big desktops (≤ 1200px) === */
@media (max-width: 1200px) {
	.container {max-width: 1000px;}
	.card-col {width: calc(100% / 5);}
}

/* Laptops and medium desktops (≤ 992px) */
@media (max-width: 992px) {
	.container {max-width: 900px;}
	.card-col {width: calc(100% / 4);}
}

/* === Tablets and small laptops (≤ 768px) === */
@media (max-width: 768px) {
	.container {max-width: 700px;}
	.card-col {width: calc(100% / 3);}
}

/* === Small tablets and big phones (≤ 576px) === */
@media (max-width: 576px) {
	.container {max-width: 500px;}
	.card-col {width: calc(100% / 2);}
}

/* === Small phones (≤ 400px) === */
@media (max-width: 400px) {
	.container {max-width: 350px;}
	.card-col {width: calc(100% / 1);}
}