/* ==== Debug Borders ==== */
.r-debug {border: 1px dashed #F7013E;}
.b-debug {border: 1px dashed #3A86FF;}
.g-debug {border: 1px dashed #29BF12;}
.y-debug {border: 1px dashed #FFD700;}
.p-debug {border: 1px dashed #911EB4;}


/* ==== Buttons ==== */
.btn {
	cursor: pointer;
	border: none;

	&:hover {background-color: #00000037; /* for example */}
}
.btn-lg {padding: 15px 45px;}
.btn-md {padding: 12px 25px;}
.btn-sm {padding: 8px 17px;}


/* ==== Colors ==== */
.c-primary {color: var(--primary-color);}
.c-primary-dark {color: var(--primary-color-dark);}
.c-secondary {color: var(--secondary-color);}
.c-secondary-dark {color: var(--secondary-color-dark);}

.c-success {color: var(--success-color);}
.c-danger {color: var(--danger-color);}
.c-warning {color: var(--warning-color);}
.c-info {color: var(--info-color);}

.c-light-gray {color: var(--light-gray);}
.c-dark-gray {color: var(--dark-gray);}

.c-black {color: var(--c-black);}
.c-white {color: var(--c-white);}

.c-dark {color: var(--c-dark);}
.c-off-white {color: var(--c-off-white);}


/* ==== Margins ==== */
.m-1{margin: 10px;}
.m-2{margin: 20px;}
.m-3{margin: 30px;}
.m-4{margin: 40px;}
.m-5{margin: 50px;}
.my-1{margin: 10px 0;}
.my-2{margin: 20px 0;}
.my-3{margin: 30px 0;}
.my-4{margin: 40px 0;}
.my-5{margin: 50px 0;}
.mx-1{margin: 0 10px;}
.mx-2{margin: 0 20px;}
.mx-3{margin: 0 30px;}
.mx-4{margin: 0 40px;}
.mx-5{margin: 0 50px;}


/* ==== Cards Grid System ==== */
.cards-grid {
	display: flex;
	flex-wrap: wrap;
}

.card-col {
	width: calc(100% / 6);
	padding: 10px;
}
/* ==== Default Cards ==== */
.card-img {
	height: 200px; /* for example */
}

.card-text {
	height: 100px; /* for example */
}


/* ==== Grid System ==== */
.grid{
	display: flex;
	flex-wrap: wrap;
}
/* ==== Columns ==== */
.col-lg-1{width: 100%;} /* customizable */
.col-lg-2{width: 50%;} /* customizable */
.col-lg-3{width: 33.3%;} /* customizable */
.col-lg-4{width: 25%;} /* customizable */